.container1{
    width: 15%;
    overflow: hidden;
    margin-left: 1%;
    margin-right: 5%;
    margin-top: 1vw;
}
.leftList{
    margin-bottom: .8vw;
    font-size: 1.2vw;
}


.tasks{
    
    justify-content: space-around;
}
.task{
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;

    h1{
        font-size: 1.6vw;
        font-weight: 600;
    }
}


.container2{
    margin-top: 1vw;
    width: 55%;
    overflow: hidden;
}
.recently{
    div{
        h1{
            font-size: 1.4vw;
            font-weight: 700;
        }
        p{
            width: 80%;
            font-size: .8vw;
        }
    }
}
.container3{
    margin-top: 1vw;
    width: 30%;
    overflow: hidden;
    margin-right: 1%;
    margin-left: 5%;
}
.urgentTasks{
    h3{
        font-size: 1.1vw;
        font-weight: 700;
        margin: .9vw 1vw 0vw 0vw;
    }
    div{
        margin-top: 1.2vw;
    }
}
.percent{
    margin-top: 1vw;
    margin-left: 3vw;
    width: 19vw;
    justify-content: space-around;
    p{
        font-weight: bold;
    }
}

.Chat{
    margin:1vw 0vw 0vw 2vw;
    h1{
        font-size: 1.4vw;
        font-weight: 700;
    }
    p{
        width: 15vw;
    }
}