.container1{
    width: 15%;
    overflow: hidden;
    margin-left: 1%;
    margin-right: 5%;
}
.ddbtn{
    background-color: #ffffff;
    color: rgb(208, 93, 93);
}
.leftList{
}



.task{
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    padding: 10px;
}


.container2{
    width: 55%;
    overflow: hidden;
}
.container3{
    width: 30%;
    overflow: hidden;
    margin-right: 1%;
    margin-left: 5%;
}